In [231]:
import pandas as pd
import sqlalchemy
from sqlalchemy import (create_engine, MetaData,Column, Table, Integer, String,DateTime)
from datetime import datetime

In [232]:
#!pip install pymysql

### Engine de Conexao ao Banco dec Dados MySQL

### Sintaxe:

#### engine = sqlalchemy.create_engine('sqlite:///db_name.db',  echo = False) 


### Documentação do SQLAlchemy:

In [233]:
engine = sqlalchemy.create_engine('sqlite:///gas.db',
                                 echo = False)

In [234]:
metadata = MetaData(bind = engine)

In [235]:
TB_CADASTRO  = Table('TB_CADASTRO', metadata,
                           Column('id_cliente', Integer, primary_key = True),
                           Column('classe_consumo', String(40), index = True),
                           Column('Estado', String(40),index = True),
                           Column('Cidade', String(40), index = True),
                           Column('date_file',DateTime, default = datetime.now))

In [236]:
# Create Table
metadata.create_all()

In [237]:
conn = engine.connect()

In [238]:
# Insert Data
ins = TB_CADASTRO.insert()

new_data = ins.values(
                      classe_consumo = 'Residencial',
                      Estado ='A',
                      Cidade = 'A1')

conn.execute(new_data)

In [239]:
conn.execute(TB_CADASTRO.insert(), [
    
    { 'classe_consumo': 'comercial', 'Estado': 'B','Cidade': 'B1'},
    { 'classe_consumo': 'residencial', 'Estado': 'B','Cidade': 'B2'},
    { 'classe_consumo': 'comercial', 'Estado': 'C','Cidade': 'C1' },
    { 'classe_consumo': 'residencial', 'Estado': 'D','Cidade': 'D1' },
    { 'classe_consumo': 'comercial', 'Estado': 'B','Cidade': 'B1' }
    
    
])

# Select

In [240]:
from sqlalchemy import select
select = select([TB_CADASTRO])

In [241]:
for row in select.execute():
    print(row)

(1, 'Residencial', 'A', 'A1', datetime.datetime(2020, 7, 17, 15, 52, 13, 532666))
(2, 'comercial', 'B', 'B1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712547))
(3, 'residencial', 'B', 'B2', datetime.datetime(2020, 7, 17, 15, 52, 13, 712555))
(4, 'comercial', 'C', 'C1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712557))
(5, 'residencial', 'D', 'D1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712560))
(6, 'comercial', 'B', 'B1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712562))

# Update

In [242]:
from sqlalchemy import update

In [243]:
conn = engine.connect()

In [244]:
update = update(TB_CADASTRO).where(TB_CADASTRO.c.classe_consumo == 'Residencial')

update = update.values(classe_consumo ='residencial')

result = conn.execute(update)

In [245]:
for row in select.execute():
    print(row)

(1, 'residencial', 'A', 'A1', datetime.datetime(2020, 7, 17, 15, 52, 13, 532666))
(2, 'comercial', 'B', 'B1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712547))
(3, 'residencial', 'B', 'B2', datetime.datetime(2020, 7, 17, 15, 52, 13, 712555))
(4, 'comercial', 'C', 'C1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712557))
(5, 'residencial', 'D', 'D1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712560))
(6, 'comercial', 'B', 'B1', datetime.datetime(2020, 7, 17, 15, 52, 13, 712562))

# Table 2

In [246]:
TB_FATURAMENTO  = Table('TB_FATURAMENTO', metadata,
                           Column('id_cliente', Integer, primary_key = True),
                           Column('data_faturamento', String(6)),
                           Column('Consumo_kwh', Integer, nullable = False),
                           Column('date_file',DateTime, default = datetime.now))

In [247]:
# Create Table
metadata.create_all()

In [248]:
conn = engine.connect()

In [249]:
# Insert Data
ins2 = TB_FATURAMENTO.insert()

new_data = ins2.values(
                      data_faturamento = '2020-01', 
                      Consumo_kwh = 50000 )

conn.execute(new_data)

In [250]:
conn.execute(TB_FATURAMENTO.insert(), [
    
    { 'data_faturamento': '2020-01', 'Consumo_kwh': 1000,},
    { 'data_faturamento': '2020-01', 'Consumo_kwh': 50000 },
    { 'data_faturamento': '2020-01', 'Consumo_kwh':  1005000 },
    { 'data_faturamento': '2020-01', 'Consumo_kwh': 88999},
    { 'data_faturamento': '2020-01', 'Consumo_kwh': 150000 }
    
])

# Select

In [251]:
from sqlalchemy import select
select = select([TB_FATURAMENTO])

In [252]:
for row in select.execute():
    print(row)

(1, '2020-01', 50000, datetime.datetime(2020, 7, 17, 15, 52, 17, 411751))
(2, '2020-01', 1000, datetime.datetime(2020, 7, 17, 15, 52, 17, 944218))
(3, '2020-01', 50000, datetime.datetime(2020, 7, 17, 15, 52, 17, 944225))
(4, '2020-01', 1005000, datetime.datetime(2020, 7, 17, 15, 52, 17, 944228))
(5, '2020-01', 88999, datetime.datetime(2020, 7, 17, 15, 52, 17, 944230))
(6, '2020-01', 150000, datetime.datetime(2020, 7, 17, 15, 52, 17, 944232))