In [93]:
import pandas as pd
import sqlalchemy
from sqlalchemy import (create_engine, MetaData,Column, Table, Integer, String,DateTime)
from datetime import datetime

In [94]:
metadata = MetaData()

In [95]:
engine = sqlalchemy.create_engine('sqlite:///gas.db',
                                 echo = False)

In [96]:
print(engine.table_names())

['TB_CADASTRO', 'TB_FATURAMENTO']

In [97]:
df = pd.read_sql_table('TB_CADASTRO', engine)

In [98]:
df

   id_cliente classe_consumo Estado Cidade                  date_file
0           1    residencial      A     A1 2020-07-17 15:52:13.532666
1           2      comercial      B     B1 2020-07-17 15:52:13.712547
2           3    residencial      B     B2 2020-07-17 15:52:13.712555
3           4      comercial      C     C1 2020-07-17 15:52:13.712557
4           5    residencial      D     D1 2020-07-17 15:52:13.712560
5           6      comercial      B     B1 2020-07-17 15:52:13.712562

# Select Columns

In [100]:
df = pd.read_sql_table('TB_CADASTRO', engine, columns = ['id_cliente','classe_consumo'])
df.head()

   id_cliente classe_consumo
0           2      comercial
1           4      comercial
2           6      comercial
3           1    residencial
4           3    residencial

# Query SQL

In [101]:
query = ''' 
SELECT  cad.classe_consumo,
        cad.Estado,
        cad.Cidade,
        fat.Date_file,
        fat.Consumo_kwh
FROM TB_CADASTRO cad
JOIN TB_FATURAMENTO fat
ON cad.id_cliente = fat.id_cliente;

'''

In [102]:
df = pd.read_sql_query( query, engine)
df

  classe_consumo Estado Cidade                   date_file  Consumo_kwh
0    residencial      A     A1  2020-07-17 15:52:17.411751        50000
1      comercial      B     B1  2020-07-17 15:52:17.944218         1000
2    residencial      B     B2  2020-07-17 15:52:17.944225        50000
3      comercial      C     C1  2020-07-17 15:52:17.944228      1005000
4    residencial      D     D1  2020-07-17 15:52:17.944230        88999
5      comercial      B     B1  2020-07-17 15:52:17.944232       150000

In [103]:
df.groupby('CLASSE_CONSUMO').max()

KeyError: 'CLASSE_CONSUMO'

In [81]:
query = ''' 
SELECT  MAX(CONSUMO_M3)
FROM TB_FATURAMENTO

'''

In [82]:
df = pd.read_sql_query( query, engine)
df

   MAX(CONSUMO_M3)
0          1005000